<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd
http://maven.apache.org/SETTINGS/1.1.0 ">
    <servers>
        <server>
            <id>snapshots</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
        </server>
        <server>
            <id>release</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
        </server>
        <server>
            <id>central</id>
            <username>${repo.username}</username>
            <password>${repo.password}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central</id>
            <name>Central Mirror Repository</name>
            <url>${repo.central.url}</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <properties>
                <performRelease>false</performRelease>
                <altSnapshotDeploymentRepository>
                    snapshots::${repo.snapshot.url}
                </altSnapshotDeploymentRepository>
                <altReleaseDeploymentRepository>
                    central::${repo.release.url}
                </altReleaseDeploymentRepository>
            </properties>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>release</id>
                    <name>release</name>
                    <url>${repo.release.url}</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>maven</name>
                    <url>${repo.snapshot.url}</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>release</id>
                    <name>maven</name>
                    <url>${repo.release.url}</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>maven</name>
                    <url>${repo.snapshot.url}</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
